{% extends 'baseBS.html.twig' %}
{% block title %} INTERN - Hauptmenu {% endblock %}

{% block body %}

    {{ include(
        'index/menu.html.twig',
        { 'title': 'Hauptmenü' }
    ) }}


<div class="row">


    <div class="jumbotron">
        <div class="container">
            <h1>Schnellzugriff</h1>
            <p><a class="btn btn-default btn-lg" href="{{ path('BSCheckout_home', { 'cashbox_id': 1 } )}}" >Kasse Laden</a>
{#             <a class="btn btn-default btn-lg" href="{{ path('BSOrder_state',{ 'state': 5.5 })  }}">Sammelpack</a>#}
            <a class="btn btn-default btn-lg" href="{{ path('BSData_product_lable') }}">Etiketten</a>
            </p>
        </div>
    </div>

</div>


{% endblock %}