/* style sheet for "A4" printing */
@media print and (width: 21cm) and (height: 29.7cm) {
  @page {
  }
}


/* A4 Landscape*/
@page {
  size: A4 landscape;

}


.print-body {
  background-color: white;
  height: 195mm;
  width: 288mm;
  /*margin-left: 1.6cm;*/
  /*border: 1px solid darkgray;*/
  /*background-color: red;*/
  font-family: "Times New Roman", Times, serif;

}

.print-h1, .print-h2 {
  overflow: hidden;
  text-align: right;
  min-height: 10mm;
  margin: 0;
  padding: 0;
}

.print-header2 {
  font-weight: lighter;
  font-style: italic;
}

.print-block {
  float: left;
  display: inline-block;
  height: 90mm;
  width: 135mm;
  margin: 4mm;
  /*margin-left: 8mm;*/
  /*margin-top: 6mm;*/
  overflow: hidden;
  /*border: 1px solid darkgray;*/


}

.print-img {
  width: 65mm;
  float: left;
  padding-right: 2mm;
  padding-bottom: 2mm;
}