/* style sheet for "A4" printing */
@media print and (width: 21cm) and (height: 29.7cm) {
  @page {
    //margin: 3cm;
  }
}


/* A4 Landscape*/
@page {
  size: A4 landscape;
  //margin: 10%;
}


.print-body {
  background-color: white;
  height: 197mm;
  width: 288mm;
  margin-left: 1.6cm;

  font-family: "Times New Roman", Times, serif;

}

.print-h1, .print-h2 {
  text-align: right;
  min-height: 10mm;
  margin: 0;
  padding: 0;
}

.print-header2 {
  font-weight: lighter;
  font-style: italic;
}

.print-block {
  float: left;
  display: inline-block;
  height: 97mm;
  width: 135mm;
  padding: 1mm;
  margin: 1mm;
  overflow: hidden;
  border: 1px solid darkgray;


}

.print-img {
  width: 65mm;
  float: left;
  padding-right: 2mm;
  padding-bottom: 2mm;
}