
body{

    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;


}

.container{




    border-radius: 4px;
    background: rgba(200, 200, 200, 0.9);
    /*xurl("/images/logo_blumenschule.png");
    xbackground-size: contain;
    xbackground-repeat: no-repeat;*/
}


.ui-menu-item a div{
    display: inline-block;

}
.ui-autocomplete-loading {

    background: url('/images/ui-autoloader.gif') no-repeat center center fixed;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;


}

div.auto_no{
    width: 50px;
}
div.auto_name{
    width: 300px;
}
div.auto_name2{
    width: 300px;

}
div.auto_code{
    width: 150px;
}

.article_pic{
    max-width: 200px;
    max-height: 200px;

}

.loading {
    left: 40%;
    margin: auto;
    position: absolute;
    top: 50%;
    z-index: 100;
}

.LableOutput{
    background-color: #FFFFFF;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;

}

.a6-print-item{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    padding: 6px 12px;
    margin-bottom: 10px;

}

.a6-print-item-pic{
    width: 15%;

    float: right;

}


.bs-search li{
    list-style: none;
    float: left;
    padding-left: 20px;
}

.form-group{
    margin-bottom: 0;
}