<!DOCTYPE html>
<html>
<head>
{#    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <title>{% block title %}BSPMI{% endblock %}</title>


    {% block stylesheets %}
{#        {{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" type="text/css" href="/build/app.css">

    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}"/>
</head>
<body>
{% block javascripts %}
    <script src="/build/runtime.js"></script>
    <script src="/build/app.js"></script>
    <script src="/build/vendors~app.js"></script>
{#    {{ encore_entry_script_tags('app') }}#}
{% endblock %}
<div class="container-fluid">


    {% block body %}

    {% endblock %}
</div>

</body>
</html>
